.overlay {
	position: absolute;
	width: 100%;
	text-align: center;
	top: 30%;
}

.overlay-content {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: space-evenly;
	background-color: white;
	height: 20vh;
	margin: 0 50px;
}

.overlay-commands {
	display: flex;
	justify-content: space-between;
}

.overlay-commands > button {
	border: none;
	border-radius: 0;
	padding: 0.2rem;
	margin: 0.2rem;
	background-color: rgb(193, 215, 221);
}
