.container {
	height: 70vh;
	width: 100vw;
	display: flex;
	cursor: url(../../assets/cursor/pixel-cursor.png), auto;
}

.game-wrapper {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	width: 30vw;
	box-shadow: 1 5 4;
	margin: auto;
}

.grid {
	position: relative;
}

.game-wrapper:focus {
	outline: 0px solid transparent;
}

.game-stats {
	width: 100%;
	display: flex;
	justify-content: space-between;
}
